<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Health Monitoring Analytics</title>
    <meta name="description" content="This is a dashboard for health analytics monitoring.">
    <meta name="keywords" content="">
    <meta name="author" content="">
    
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome/css/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="/static/css/menusearch.css">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/responsive.css">

    <script type="text/javascript" src="/static/js/modernizr.custom.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Raleway:500,600,700,100,800,900,400,200,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>



      <script type="text/javascript" src="/static/js/jquery.1.11.1.js"></script>

      <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>

      <script src="/static/js/handlebars.js"></script>
            <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

     
       <script src="/static/js/d3.js"></script>
      <script src="/static/js/tweet.js"></script>

      <style>

        .background {
          fill: none;
          pointer-events: all;
        }

        #states {
          stroke: #000;
          stroke-width: 1.5px;
        }

        #states text {
          fill: #000;
          stroke: none;
          text-anchor:middle;
          font-size: 10px;
        }

        #states .active {
          fill: steelblue !important;
        }

        #states text.active {
          font-size: 12px;
          font-weight:bold;
          fill: #fff;
          stroke-width: .5px;
          fill: #fff !important;
          stroke: #000;
        }

      </style>
    </head>

    <div id="tf-home">
      <div class="overlay">
        <div id="sticky-anchor"></div>
        <nav id="tf-menu" class="navbar navbar-default">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand logo" href="/">HMS</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/search/">Search</a></li>
                <li><a href="/trend/">Trend</a></li>
                <li><a href="/leaderboard/">LeaderBoard</a></li>
                <li><a href="http://rutgersse.github.io/website/">About</a></li>
                <li><a href="/#tf-contact">Contact</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

        <div class="container">

        </div>
      </div>
    </div>

    </br>
    </br>
    <div class="container ">

      <div class="form-group col-sm-4 col-sm-offset-4">
      <form class="" id="search">
        <input type="text" class="form-control typeahead" placeholder="Search by Location" id="typeahead" data-url="/static/data/stateName.json" usr-url="" />
        </form>
      </div>
    </div>

    </br>
    </br>
    <div class="container heatmap text-center">
       <h2>HeatMap for USA</h2>
    </div>
    <script>


      var tweet_count = {};
      var parade = window.tweet.states;
      for (var i = 0 ; i<parade.length ; i++)
        tweet_count[parade[i].name] = parade[i].tweet_count;

      var width = 960,
      height = 500,
      centered;

      var projection = d3.geo.albersUsa()
      .scale(width)
      .translate([0, 0]);

      var path = d3.geo.path()
      .projection(projection);

      var svg = d3.select(".heatmap").append("svg")
      .attr("width", width)
      .attr("height", height);

      svg.append("rect")
      .attr("class", "background")
      .attr("width", width)
      .attr("height", height)
      .on("click", click);

      var g = svg.append("g")
      .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")")
      .append("g")
      .attr("id", "states");

      d3.json("/static/data/states.json", function(json) {
        var heatmap = d3.scale.linear()
        .domain([0,d3.max(json.features, function(d) { return Math.log(tweet_count[d.properties.name] || 1); })])
        .interpolate(d3.interpolateRgb)
        .range(["#ffffff","#073f07"])
        var states = g.selectAll("path")
        .data(json.features)
        .enter().append("path")
        .attr("d", path)
        .attr("id", function(d) { return d.properties.id; })
        .style("fill", function(d) { return heatmap(Math.log(tweet_count[d.properties.name] || 1)); })
        .on("click", click)
        var labels = g.selectAll("text")
        .data(json.features)
        .enter().append("text")
        .attr("transform", function(d) { return "translate(" + path.centroid(d) + ")"; })
        .attr("id", function(d) { return 'label-'+d.properties.id; })
        .attr("dy", ".35em")
        .on("click", click)
        .text(function(d) { return d.properties.abbr; });
      });

      function click(d) {
        var x = 0,
        y = 0,
        k = 1;

        if (d && centered !== d) {
          var centroid = path.centroid(d);
          x = -centroid[0];
          y = -centroid[1];
          k = 4;
          centered = d;
        } else {
          centered = null;
        }

        g.selectAll("path")
        .classed("active", centered && function(d) { return d === centered; });
        g.selectAll("text")
        .text(function(d) { return d.properties.abbr; })
        .classed("active",false);
        if (centered) {
          g.select("#label-"+centered.properties.abbr)
          .text(function(d) { return d.properties.name+': '+(tweet_count[d.properties.abbr]||'(none)'); })
          .classed("active", centered && function(d) { return d === centered; });
        }

        g.transition()
        .duration(1000)
        .attr("transform", "scale(" + k + ")translate(" + x + "," + y + ")")
        .style("stroke-width", 1.5 / k + "px");
      }


    </script>


    <nav id="tf-footer">
      <div class="container">
       <div class="pull-left">
        <p>2015 © HMS. All Rights Reserved. Designed and Coded by <a href="http://github.com/rutgersse">Rutgers Cyborgs.
        </div>
        <div class="pull-right"> 
          <ul class="social-media list-inline">
            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#"><span class="fa fa-pinterest"></span></a></li>
            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.1.11.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>

    <!-- Javascripts
    ================================================== -->
     <script src="/static/js/typeahead.js"></script>
      <script src="/static/js/search.js"></script>

    <script type="text/javascript" src="/static/js/main.js"></script>
  </body>
</script>